<h1>フォローしている社員一覧</h1>
<% if @end_users.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @end_users.each do |end_user| %>
        <tr>
          <td><%= image_tag end_user.get_profile_image, size: '50x50' %></td>
          <td><%= end_user.full_name %></td>
          <td>
            <%= link_to user_page_path(end_user.id) do %>
              Show
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</table>
